{% extends 'base.html' %}
{% load static hotel_tags %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/hotel-review.css' %}">
{% endblock%}
{% block content %}
<form method="POST" class="big-form" >
    {% csrf_token %}
    <section class="pb-5 pt-3">
        <div class="container">
            <div class="row rows-class p-2">
                <div class="col-md-6 col-12 reservation-info-main">
                    <ul class="list-group mb-3 border-0">
                        <h1 class="d-flex justify-content-between align-items-center mb-1 pt-4">Your reservation</h1>
                        <p class="">How was your stay at our hotel? Were the accommodations suited? Help us improve the
                            quality of
                            our hotel by giving us your feedback. Thank you!</p>
                        <li class="list-group-item d-flex mt-4 justify-content-between lh-condensed reservation-info">
                            <div>
                                <span class="texts">Name Surname</span>
                            </div>
                            <h6 class="my-0 texts">{{reservation.user.name}} {{reservation.user.surname}}</h6>
                        </li>
                        <li class="list-group-item d-flex justify-content-between lh-condensed reservation-info">
                            <div>
                                <span class="texts">Hotel name</span>
                            </div>
                            <h6 class="my-0 texts">{{reservation.hotel.name}}</h6>
                        </li>
                        <li class="list-group-item d-flex justify-content-between lh-condensed reservation-info">
                            <div>
                                <span class="texts">Room type</span>
                            </div>
                            <h6 class="my-0 texts">{{reservation.room_type.title}}</h6>
                        </li>
                        <li class="list-group-item d-flex justify-content-between lh-condensed reservation-info">
                            <div>
                                <span class="texts">From </span>
                            </div>
                            <h6 class="my-0 first-date texts">{{reservation.reservation_start_date}}</h6>
                        </li>
                        <li class="list-group-item d-flex justify-content-between lh-condensed reservation-info">
                            <div>
                                <span class="texts">To</span>
                            </div>
                            <h6 class="my-0 second-date texts">{{reservation.reservation_fin_date}}</h6>
                        </li>
                        <li class="list-group-item d-flex justify-content-between lh-condensed reservation-info">
                            <div>
                                <span class="texts">Day count</span>
                            </div>
                            <h6 class="my-0 price-for-night texts">{{reservation.day_count}}</h6>
                        </li>

                        <li class="list-group-item d-flex justify-content-between rsv-inf">
                            <span class="texts" style="font-weight: bold;padding: 7px 0px;">Total Price</span>
                            <strong class="total-price texts" style="font-weight: bold;"
                                data-sum="{{request.GET.total_days}}">{{reservation.price}}</strong>
                        </li>
                    </ul>




                </div>
                <div class="testbox col-md-6 col-12">
                        <h1 class="pt-3">Hotel Feedback Form</h1>
                        <p class="">How was your stay at our hotel? Were the accommodations suited? Help us improve the
                            quality of
                            our hotel by giving us your feedback. Thank you!</p>
                        <table>
                            <tr>
                                <th class="first-col"></th>
                                <th>Bad</th>
                                <th>Poor</th>
                                <th>Fair</th>
                                <th>Good</th>
                                <th>Excellent</th>
                            </tr>
                            {% for review_field in review_fields %}
                            <tr>
                                <td class="first-col">{{review_field.title}}</td>
                                <td><input class="radio-input" required='True' type="radio" value="1" name="{{review_field.title}}" />
                                </td>
                                <td><input class="radio-input " type="radio" value="2" name="{{review_field.title}}" />
                                </td>
                                <td><input class="radio-input " type="radio" value="3" name="{{review_field.title}}" />
                                </td>
                                <td><input class="radio-input " type="radio" value="4" name="{{review_field.title}}" />
                                </td>
                                <td><input class="radio-input " type="radio" value="5" name="{{review_field.title}}" />
                                </td>
                            </tr>

                            {% endfor %}
                            <input type="hidden" value="{{reservation.hotel.name}}" name="hotel-name">
                            <input type="hidden" value="{{reservation.user.name}}" name="user-email">
                            <input type="hidden" value="{{reservation.id}}" name="reservation">

                        </table>
                </div>
                <div class="col-12">
                    <textarea required='True' class="border-rounded subject-text" placeholder="Your message here" name="my-text" id=""
                        cols="132" rows="3"></textarea>
                </div>
                <div class="btn-block w-100">
                    <button class="w-100 main-button" type="submit" href="/">Send Feedback</button>
                </div>
            </div>
        </div>
    </section>
</form>
{% block js %}
<script src="{% static 'js/review.js' %}"></script>


{% endblock %}

{% endblock %}