{% extends 'base.html' %}
{% load static hotel_tags %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/saved_hotels.css' %}">
{% endblock%}
{% block content %}



<div class="row main-div">
    <div class="col-3">
        <div class="row">
            <div class="col-12">
                <ul class="list-group">
                    
                    <li class="list-group-item user-menu">User Menu</li>
                    <li class="list-group-item lst"><a class="menu-items profile" data-user='{{request.user.id}}' href="#">My Profile</a></li>
                    <li class="list-group-item lst"><a class="menu-items reservations" data-reservation='{{request.user.id}}' href="#">My Reservations</a></li>
                    <li class="list-group-item lst"><a class="menu-items hotels" data-hotel='{{request.user.id}}' href="#">My Hotels</a></li>
                    <li class="list-group-item lst"><a class="menu-items restaurants" href="#">My Restaurants</a></li>
                    <li class="list-group-item lst"><a class="menu-items tours" href="#">My Tours</a></li>
                    <li class="list-group-item text-right"><span class="pull-left "><strong class=""><a
                                    type="button" href="{% url 'main:home' %}" class="btn btn-info">Go to main menu</a></strong></span></li>
                </ul>
            </div>
        </div>
       

    </div>

    <div class="col-8  mt-3 main-div-2">
        <h1>My Hotels</h1>
        {% for hotel in hotels %}
        <div class="card mb-3 p-3"
            style="max-width: 100%;border-color: #5bbaff;box-shadow: 0 0 10px #5bbaff;background-color: #ebf3ff;">
            <div class="row no-gutters">
                <div class="col-md-3">
                    <img class="content-image" src="{{hotel.main_image.url}}" class="card-img" alt="...">
                    <div class="forget-button-div"  onclick="delete_article({{hotel.id}});">
                        <span class="forget-button">x</span>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                        <h6 class="card-title text-primary mb-1" style="font-weight: bold;">{{hotel.name}}</h6>
                        <div class="d-flex align-items-center mb-3 ">
                            {% get_star_count hotel.rating as stars %}
                            {{stars|safe}}
                        </div>
                        <p class="card-text" style="font-size: 12px;line-height: 18px;">{{hotel.short_description}}</p>
                        <p class="card-text"><small class="text-muted">{{hotel.name_description}}</small>
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="d-flex flex-column justify-content-between h-100">
                        <div class="d-flex align-items-center justify-content-end p-2">
                            <div class="d-flex flex-column mr-2" style="line-height:5px;">
                                <h6>Very good</h6>
                                <small>75 Reviews</small>
                            </div>
                            <div class="rating-count">{{hotel.rating}}</div>
                        </div>
                        <div class="d-flex flex-column justify-content-end p-2">
                            <span class="text-right" style="font-size: 16px;">Price for night
                                {{hotel.min_price}}$</span>
                            <a href="{% url 'hotels_app:hotels-single' hotel.slug %}" type="button"
                                class="btn btn-danger slugs-anchor" style="font-size:14px; color: white;">Reserve</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="row mt-5">
            <div class="col text-center">
                <div class="block-27">
                    <ul class="d-flex align-items-center justify-content-center pagi-ul">
                        {% if page_obj.has_previous %}
                        <li style="list-style: none;"><a href="?page={{ page_obj.previous_page_number }}">&lt;</a></li>
                        {% endif %}
                        {% for page in page_obj.paginator.page_range %}
                        {% if page == page_obj.number %}
                        <li class="active" style="list-style: none;"><span>{{page}}</span></li>
                        {% else %}
                        <li style="list-style: none;"><a href="?page={{page}}">{{page}}</a></li>
                        {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                        <li style="list-style: none;"><a href="?page={{ page_obj.next_page_number }}">&gt;</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>


{% include 'includes/subscribers.html' %}
{% endblock %}
{% block js %}
<script src="{% static 'js/user-data.js' %}"></script>
<script>
    function delete_article(hotel_id) {
        $.ajax({
            url: "{% url 'hotels_app:delete_hotel' 12345 %}".replace('12345', hotel_id),
            method: 'GET',
            success: function (data) {
                
                location.reload();

            }
        })

    }

</script>



{% endblock %}