<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="mb-5">
                    <h3 class="footer-heading mb-4">About Travelers</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe pariatur reprehenderit vero
                        atque, consequatur id ratione, et non dignissimos culpa? Ut veritatis, quos illum totam quis
                        blanditiis, minima minus odio!</p>
                </div>
            </div>
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="row mb-5">
                    <div class="col-md-12">
                        <h3 class="footer-heading mb-4">Navigations</h3>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <ul class="list-unstyled">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Destination</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">About</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <ul class="list-unstyled">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Discounts</a></li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="mb-5">
                    <h3 class="footer-heading mb-4">Contact</h3>
                    <p>
                        <i class="fas fa-home mr-3"></i> Atatürk prospekti 19, Elektron Hökümət 1-ci mərtəbə</p>
                    <p>
                        <i class="fas fa-envelope mr-3"></i>info@tech.edu.az</p>
                    <p>
                        <i class="fas fa-phone mr-3"></i>  +994 50 605 36 02</p>

                </div>
            </div>


        </div>
        <div class="row pt-5 mt-5 text-center">
            <div class="col-md-12">
                <div class="mb-5">
                    <a href="#" class="pl-0 pr-3"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="pl-3 pr-3"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="pl-3 pr-3"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="pl-3 pr-3"><i class="fab fa-linkedin"></i></a>
                </div>
                <p>

                    Copyright ©
                    <script type="text/javascript" async=""
                        src="https://www.google-analytics.com/analytics.js"></script>
                    <script type="text/javascript">document.write(new Date().getFullYear());</script>2020 All rights
                    reserved | This template is made with <i class="fa fa-heart"></i> by <a href="https://colorlib.com"
                        target="_blank">Colorlib</a>

                </p>
            </div>
        </div>
    </div>
</footer>