.active-purple-2 input.form-control[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #ce93d8;
  box-shadow: 0 1px 0 0 #ce93d8;
}

/* .search-parent{
background-image: url('https://www.spa-hotel-imperial.cz/userfiles/thumbs/f/ext-2_15937844253843_1920x1200_tt_90.jpg');
} */
.main-images{

border-radius: 12px !important;
}
.main-image-div:hover{
transform: translate(0,-10px) !important;
transition-duration: 0.3s;
}
.main-image-div:hover + .city-name{
color: red;
}


.main-image-div{
position: relative;
background: linear-gradient(to bottom, rgba(4, 14, 39, 0) 0%, rgba(4, 14, 39, 0.7) 100%);
}
.city-name{
position: absolute;
bottom: 50px;
left: 50px;
color: white;
font-size: 22px;
font-family: "Rubik", sans-serif;
}
.content-h4{
position: relative;
}
.content-h4::before{
  display: block;
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  left: 0;
  right: 0;
  z-index: -1;
  border-bottom: 1px solid black;
}
.span-under-content{
display: inline-block;
  box-sizing: border-box;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding: 0 12px;
}
.main-image-div-dest:hover{
  transform: translate(0,-10px) !important;
  transition-duration: 0.3s;
  }
.main-image-div-dest:hover + .city-name{
  color: red;
  }
  
  
.main-image-div-dest{
  position: relative;
  background: linear-gradient(to bottom, rgba(4, 14, 39, 0) 0%, rgba(4, 14, 39, 0.7) 100%);
  }
.content-name{
font-size: 32px;
letter-spacing: 1px;
font-weight: bold;
}
.search-text{
font-size: 36px;
  line-height: 40px;
  color: var(--primaryText);
  height: 80px;
  display: flex;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin: 8px 0 24px;
  font-weight: 900;
}
/* .carousel-item{
  position: relative;
} */
.for-absolute{
  position: absolute !important;
  top: 30%;
  left: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
.for-relative{
  position: relative !important;
  
}
.main-images{
  width: 372px;
  height: 250px;
}
.city-name{
  text-decoration: none;
  color: white;
}
.city-name:hover{
  
  color: red;
}
.see-button{
  width: 125px;
  white-space: nowrap;
}
.main-image-div{
  border-radius:12px
}
.see-button{
  /* position: absolute; */
  
  border-radius: 20px !important;
  border: 1px  solid red !important;
  background-color: red !important;
  color: white !important;
  z-index: 2000;
}
@media only screen and (max-width: 1400px) and (min-width: 833px) {
  .for-absolute{
    top: 5%;
    left: 5%;
  } 
  /* .see-button{
    width: 70px;
  } */
}
@media only screen and (max-width: 833px) and (min-width: 700px) {
  .for-absolute{
    top: 20%;
    left: 20%;
  } 
}
@media only screen and (max-width: 700px) and (min-width: 550px) {
  .for-absolute{
    top: 18%;
    left: 15%;
  } 
}
@media only screen and (max-width: 550px) and (min-width: 330px) {
  .for-absolute{
    top: 5%;
    left: 10%;
  } 
}
.description{
  text-align: center;
  color: white ;
}