{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/tourspage.css' %}">
{% endblock %}

{% block content %}


<section class="header-image">
    <div class="image-headerrr">
        <img class="head-image" src="{% static 'images/Bakü_gece_görünüşü.jpg' %}" style="width: 100%;">
    </div>

    <div class="header-text">
        <h1>Azerbaijan Tours</h1>
        <h4>2020 & 2021 tours</h4>
    </div>
    {% comment %} <div class="see-all-header">
        <button class="seeall-button-header">See all</button>
    </div> {% endcomment %}
</section>
<section class="main-sections my_container mt-5">
    <div class="row">
        <div class="col-3"></div>
        <div class="up-text col-6">
            <h1>Most Popular Tours</h1>
            <p class="center-text">
                Iconic cities, stunning landscapes, a mixture of cultures—there's so much to experience across this
                incredible continent. On our trips to Europe, you can see it all on a sweeping journey across the
                continent,
                or get an in-depth look at a certain country that interests you.
            </p>
        </div>
        <div class="col-3"></div>
    </div>
    <div class="row m-auto mt-4 mb-4">
        {% for tour in tours_list %}
        <div class="tours-cards col-xl-3 col-lg-4 col-md-6 col-12 mb-4 mt-4 m-auto">

            <div class="mt-4 mb-4" style="box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1);">
                <div class="image-div">
                    <img src="{{tour.main_image.url}}" class="card-img-top w-100" alt="...">
                    <div class="heart">
                        <a onclick="save_article({{tour.id}})">
                            <i class=" fa fa-heart-o" style="font-size:22px"></i>
                        </a>
                    </div>
                </div>

                <div class="card-body">
                    <h1 class="card-title mt-2 mb-2">{{tour.title}}</h1>
                    <p class="card-text mt-3">With {{tour.name}} extension</p>
                    <div class="row mt-4 mb-4">
                        <div class="days col-lg-6">{{tour.trip_time}}</div>

                        <div class="days col-lg-6">
                            <div class="row">
                                <div class="col-7 stars-first">
                                    <div class="stars">

                                        <img class="star" src="{% static 'images/image-2.svg' %}" alt="">
                                        <img class="star" src="{% static 'images/image-2.svg' %}" alt="">
                                        <img class="star" src="{% static 'images/image-2.svg' %}" alt="">
                                        <img class="star" src="{% static 'images/image-3.svg' %}" alt="">
                                        <img class="star" src="{% static 'images/image-3.svg' %}" alt="">

                                    </div>
                                </div>
                                <div class="col-5">160</div>
                            </div>
                        </div>
                    </div>
                    <p class="sale">On sale from</p>
                    <div class="row see">
                        <!-- <span class="old-price mr-2 ml-3">$1234</span> -->
                        <span class="sale-price ml-2">${{tour.price}}*</span>
                        <a class="mr-2" href="{% url 'tours:tour-detail' tour.slug %}">See Tour</a>
                    </div>

                </div>
            </div>

        </div>
        {% endfor %}

    </div>

</section>
<!-- <div class="see-all mb-5 mt-5">
    <button class="seeall-button">See All Tours</button>
</div>  -->
<div class="row mt-5">
    <div class="col text-center">
        <div class="block-27">
            {% if page_obj.has_previous %}
            <a class="prev-icon"
                href="?page={{ page_obj.previous_page_number }}{% if sortBy %}&sortBy={{ sortBy }}{% endif %}">
                <img class="previous-icon mr-2" src="{% static 'images/back.svg' %}" alt="arrow">
            </a>
            {% endif %}
            {% if page_range|length > 1 %}
            <div class="page-numbers">
                {% for page_number in page_range %}
                {% if page_number == page_obj.number %}
                <a class="active act-num mr-2">
                    <span>{{ page_number }}</span>
                </a>
                {% else %}
                <a class="page mr-2" href="?page={{ page_number }}{% if sortBy %}&sortBy={{ sortBy }}{% endif %}">
                    <span>{{ page_number }}</span>
                </a>
                {% endif %}
                {% endfor %}
            </div>
            {% endif %}
            {% if page_obj.has_next %}
            <a class="next-page ml-2"
                href="?page={{ page_obj.next_page_number }}{% if sortBy %}&sortBy={{ sortBy }}{% endif %}">
                <img src="{% static 'images/next.svg' %}" alt="arrow" class="next-icon">
            </a>
            {% endif %}
        </div>
    </div>
</div>

{% include 'includes/subscribers.html' %}


{% endblock content %}

{% block js %}
<script>
    function save_article(tour_id){
        $.ajax({
            url: "{% url 'tours:save_wishlist' 12345 %}".replace('12345', tour_id),
            method: 'GET',
            success: function (data) {
                show_message(data)
            }
        })
        function show_message(message) {
            var x = document.getElementById("snackbar");
            x.innerText = message;
            x.className = "show";
            setTimeout(function () {
                x.className = x.className.replace("show", "");
            }, 3000);
        }
    }
</script>
{% endblock %}