{% extends 'base.html' %}
{% block title %} Places {% endblock %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/where_to_go.css' %}">
{% endblock %}

{% block content %}
<section>
    <div class="background-filter">
        <div class="place_container">
            <div class="row">
                <div class="col-12 row m-0  d-flex place-search-input ">
                    <div class="search-inputt bg-white col-md-9 col-10  w-100 d-flex align-items-center"><i
                            class="fa fa-search"></i>
                        <input class="ml-2 place-filter-input" placeholder="Location" type="text"></div>
                    <div class="col-md-2 col-10 p-0">
                        <input class="place-find" value="Find a place" type="submit">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="place_container  mt-2" style="justify-content: center !important;display: flex;">
    <div class="col-md-11">
        <div class="row">
            <div class="col-md-3">
                <div>
                    <img class="w-100 restaurant-cover-photo" src="{% static 'images/sightseeing.jpg' %}" alt="">
                </div>
                <div class="d-none d-md-block">
                    <div class="special-border">
                        <div class="d-flex mt-2 mb-2">
                            <img src="{% static 'images/plate.svg' %}" width="20px" alt="">
                            <p class="ml-1 mt-0 mb-0 mr-0 p-0 place-options">Dining Options</p>
                        </div>
                        <div class="d-flex align-items-center">
                            <input class="ml-1 regular-radio" type="radio" name="" id="">
                            <p class="place-list-option ml-2 mt-0 mb-0 mr-0 ">All dining options</p>
                        </div>
                        <div class="d-flex align-items-center">
                            <input class="ml-1 regular-radio" type="radio" name="" id="">
                            <p class="place-list-option ml-2 mt-0 mb-0 mr-0 ">Delivery only</p>
                        </div>
                        <div class="d-flex align-items-center">
                            <input class="ml-1 regular-radio" type="radio" name="" id="">
                            <p class="place-list-option ml-2 mt-0 mb-0 mr-0 ">Takeout only</p>
                        </div>
                        <div class="mb-3"></div>
                    </div>

                    <div class="special-border">
                        <div class="d-flex mt-2 mb-2">
                            <img src="{% static 'images/chair.svg' %}" width="20px" alt="">
                            <p class="ml-1 mt-0 mb-0 mr-0 p-0 place-options">Seating Options</p>
                        </div>
                        <div class="d-flex align-items-center">
                            <input class="ml-1 custom-checkbox" type="checkbox" name="" id="">
                            <p class="place-list-option ml-1 mt-0 mb-0 mr-0 ">Bar</p>
                        </div>
                        <div class="d-flex align-items-center">
                            <input class="ml-1 custom-checkbox" type="checkbox" name="" id="">
                            <p class="place-list-option ml-1 mt-0 mb-0 mr-0 ">Standart</p>
                        </div>
                        <div class="d-flex align-items-center">
                            <input class="ml-1 custom-checkbox" type="checkbox" name="" id="">
                            <p class="place-list-option ml-1 mt-0 mb-0 mr-0 ">High Top</p>
                        </div>
                        <div class="d-flex align-items-center">
                            <input class="ml-1 custom-checkbox" type="checkbox" name="" id="">
                            <p class="place-list-option ml-1 mt-0 mb-0 mr-0 ">Outdoor</p>
                        </div>
                        <div class="mb-3"></div>
                    </div>

                    <div class="special-border">
                        <div class="d-flex mt-2 mb-2">
                            <img src="{% static 'images/kitchen.svg' %}" width="20px" alt="">
                            <p class="ml-1 mt-0 mb-0 mr-0 p-0 place-options">Cuisine</p>
                        </div>
                        <div class="d-flex align-items-center">
                            <input class="ml-1 custom-checkbox" type="checkbox" name="" id="">
                            <p class="place-list-option ml-1 mt-0 mb-0 mr-0 ">American</p>
                        </div>
                        <div class="d-flex align-items-center">
                            <input class="ml-1 custom-checkbox" type="checkbox" name="" id="">
                            <p class="place-list-option ml-1 mt-0 mb-0 mr-0 ">Italian</p>
                        </div>
                        <div class="d-flex align-items-center">
                            <input class="ml-1 custom-checkbox" type="checkbox" name="" id="">
                            <p class="place-list-option ml-1 mt-0 mb-0 mr-0 ">Chinese</p>
                        </div>
                        <div class="mb-3"></div>
                    </div>

                    <div class="special-border">
                        <div class="d-flex mt-2 mb-2">
                            <img src="{% static 'images/five.svg' %}" width="20px" alt="">
                            <p class="ml-1 mt-0 mb-0 mr-0 p-0 place-options">Top Rated</p>
                        </div>
                        <div class="d-flex align-items-center">
                            <input class="ml-1 custom-checkbox" type="checkbox" name="" id="">
                            <p class="place-list-option ml-1 mt-0 mb-0 mr-0 ">Authentic</p>
                        </div>
                        <div class="d-flex align-items-center">
                            <input class="ml-1 custom-checkbox" type="checkbox" name="" id="">
                            <p class="place-list-option ml-1 mt-0 mb-0 mr-0 ">Bar Seating</p>
                        </div>
                        <div class="d-flex align-items-center">
                            <input class="ml-1 custom-checkbox" type="checkbox" name="" id="">
                            <p class="place-list-option ml-1 mt-0 mb-0 mr-0 ">Cellar</p>
                        </div>
                        <div class="mb-3"></div>
                    </div>

                    <div class="special-border">
                        <div class="d-flex mt-2 mb-2">
                            <img src="{% static 'images/clock.svg' %}" width="20px" alt="">
                            <p class="ml-1 mt-0 mb-0 mr-0 p-0 place-options">Time</p>
                        </div>
                        <div class="d-flex align-items-center">
                            <input class="ml-1 custom-checkbox" type="checkbox" name="" id="">
                            <p class="place-list-option ml-1 mt-0 mb-0 mr-0 ">Newly Added</p>
                        </div>
                        <div class="d-flex align-items-center">
                            <input class="ml-1 custom-checkbox" type="checkbox" name="" id="">
                            <p class="place-list-option ml-1 mt-0 mb-0 mr-0 ">1,000 point times</p>
                        </div>
                        <div class="mb-3"></div>
                    </div>
                </div>
            </div>
            <div class="d-md-none d-block col-12" style="margin-top: 15px;">
                <!-- <div class="special-border mt-3"></div> -->
                <div class="special-border"></div>
                <div class="position-relative " style="cursor: pointer">
                    <div class="d-flex justify-content-between align-items-center option-padding all-options">
                        <div class="d-flex">
                            <img src="{% static 'images/plate.svg' %}" width="20px" alt="">
                            <p class="ml-1 mt-0 mb-0 mr-0 p-0 place-options">Dining Options</p>
                        </div>
                        <i style="padding: 0px 10px;" class="fa fa-angle-down"></i>
                    </div>
                    <div class="option-tables d-none all-option-tables">
                        <div class="all-options-in-table">
                            <div class="d-flex mb-2 align-items-center">
                                <input class="ml-1 regular-radio" type="radio" name="" id="">
                                <p class="place-list-option ml-2 mt-0 mb-0 mr-0 ">All dining options</p>
                            </div>
                            <div class="d-flex mb-2 align-items-center">
                                <input class="ml-1 regular-radio" type="radio" name="" id="">
                                <p class="place-list-option ml-2 mt-0 mb-0 mr-0 ">Delivery only</p>
                            </div>
                            <div class="d-flex mb-2 align-items-center">
                                <input class="ml-1 regular-radio " type="radio" name="" id="">
                                <p class="place-list-option ml-2 mt-0 mb-0 mr-0 ">Takeout only</p>
                            </div>
                            <div class="triangle-table"></div>
                        </div>
                    </div>
                </div>
                <div class="special-border"></div>
                <div class="position-relative" style="cursor: pointer">
                    <div class="d-flex justify-content-between align-items-center option-padding  all-options">
                        <div class="d-flex">
                            <img src="{% static 'images/chair.svg' %}" width="20px" alt="">
                            <p class="ml-1 mt-0 mb-0 mr-0 p-0 place-options">Seating Options</p>
                        </div>
                        <i style="padding: 0px 10px;" class="fa fa-angle-down"></i>
                    </div>
                    <div class="option-tables d-none all-option-tables">
                        <div class="all-options-in-table">
                            <div class="d-flex mb-2 align-items-center">
                                <input class="ml-1 custom-checkbox" type="checkbox" name="" id="">
                                <p class="place-list-option ml-1 mt-0 mb-0 mr-0 ">Bar</p>
                            </div>
                            <div class="d-flex mb-2 align-items-center">
                                <input class="ml-1 custom-checkbox" type="checkbox" name="" id="">
                                <p class="place-list-option ml-1 mt-0 mb-0 mr-0 ">Standart</p>
                            </div>
                            <div class="d-flex mb-2 align-items-center">
                                <input class="ml-1 custom-checkbox" type="checkbox" name="" id="">
                                <p class="place-list-option ml-1 mt-0 mb-0 mr-0 ">High Top</p>
                            </div>
                            <div class="d-flex mb-2 align-items-center">
                                <input class="ml-1 custom-checkbox" type="checkbox" name="" id="">
                                <p class="place-list-option ml-1 mt-0 mb-0 mr-0 ">Outdoor</p>
                            </div>
                            <div class="triangle-table"></div>
                        </div>
                    </div>
                </div>
                <div class="special-border"></div>
                <div class="position-relative "  style="cursor: pointer">
                    <div class="d-flex justify-content-between align-items-center option-padding all-options">
                        <div class="d-flex">
                            <img src="{% static 'images/kitchen.svg' %}" width="20px" alt="">
                            <p class="ml-1 mt-0 mb-0 mr-0 p-0 place-options">Cuisine</p>
                        </div>
                        <i style="padding: 0px 10px;" class="fa fa-angle-down"></i>
                    </div>
                    <div class="option-tables d-none all-option-tables">
                        <div class="all-options-in-table">
                            <div class="d-flex mb-2 align-items-center">
                                <input class="ml-1 custom-checkbox" type="checkbox" name="" id="">
                                <p class="place-list-option ml-1 mt-0 mb-0 mr-0 ">American</p>
                            </div>
                            <div class="d-flex mb-2 align-items-center">
                                <input class="ml-1 custom-checkbox" type="checkbox" name="" id="">
                                <p class="place-list-option ml-1 mt-0 mb-0 mr-0 ">Italian</p>
                            </div>
                            <div class="d-flex mb-2 align-items-center">
                                <input class="ml-1 custom-checkbox" type="checkbox" name="" id="">
                                <p class="place-list-option ml-1 mt-0 mb-0 mr-0 ">Chinese</p>
                            </div>
                            <div class="triangle-table"></div>
                        </div>
                    </div>
                </div>
                <div class="special-border"></div>
                <div class="position-relative "  style="cursor: pointer">
                    <div class="d-flex justify-content-between align-items-center option-padding all-options">
                        <div class="d-flex">
                            <img src="{% static 'images/five.svg' %}" width="20px" alt="">
                            <p class="ml-1 mt-0 mb-0 mr-0 p-0 place-options">Top Rated</p>
                        </div>
                        <i style="padding: 0px 10px;" class="fa fa-angle-down"></i>
                    </div>
                    <div class="option-tables d-none all-option-tables">
                        <div class="all-options-in-table">
                            <div class="d-flex mb-2 align-items-center">
                                <input class="ml-1 custom-checkbox" type="checkbox" name="" id="">
                                <p class="place-list-option ml-1 mt-0 mb-0 mr-0 ">Authentic</p>
                            </div>
                            <div class="d-flex mb-2 align-items-center">
                                <input class="ml-1 custom-checkbox" type="checkbox" name="" id="">
                                <p class="place-list-option ml-1 mt-0 mb-0 mr-0 ">Bar Seating</p>
                            </div>
                            <div class="d-flex mb-2 align-items-center">
                                <input class="ml-1 custom-checkbox" type="checkbox" name="" id="">
                                <p class="place-list-option ml-1 mt-0 mb-0 mr-0 ">Cellar</p>
                            </div>
                            <div class="triangle-table"></div>
                        </div>
                    </div>
                </div>
                <div class="special-border"></div>

                <div class="position-relative "  style="cursor: pointer">
                    <div class="d-flex justify-content-between align-items-center option-padding all-options">
                        <div class="d-flex">
                            <img src="{% static 'images/clock.svg' %}" width="20px" alt="">
                            <p class="ml-1 mt-0 mb-0 mr-0 p-0 place-options">Time</p>
                        </div>
                        <i style="padding: 0px 10px;" class="fa fa-angle-down"></i>
                    </div>
                    <div class="option-tables d-none all-option-tables">
                        <div class="all-options-in-table">
                            <div class="d-flex mb-2 align-items-center">
                                <input class="ml-1 custom-checkbox" type="checkbox" name="" id="">
                                <p class="place-list-option ml-1 mt-0 mb-0 mr-0 ">Newly Added</p>
                            </div>
                            <div class="d-flex mb-2 align-items-center">
                                <input class="ml-1 custom-checkbox" type="checkbox" name="" id="">
                                <p class="place-list-option ml-1 mt-0 mb-0 mr-0 ">1,000 point times</p>
                            </div>
                            <div class="triangle-table"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-12">
                <div class="available-table col-md-12 mt-0 p-0"
                    style="height: 60px;border-bottom: 1px solid rgba(0,0,0,.12);">
                    <div>
                        <span class="count-places">100 places</span>
                    </div>
                    <div class=" d-flex align-items-center" style="">
                        <button class="button-featured place-dropdown">
                            <div class="place-dropdown-featured">Featured</div> <i style="padding: 0px 10px;"
                                class="fa fa-angle-down"></i>
                        </button>
                        <ul class="dropdown-list">
                            <li>Featured</li>
                            <li>Highest Rated</li>
                            <li>Newest</li>
                        </ul>
                    </div>

                </div>

                <div class="mt-3 card place-card mb-3" style="max-width: 100%">
                    <div class="d-flex no-gutters">
                        <div>
                            <img src="{% static 'images/qizqalasi.jpg' %}" class="card-img place-card-img" alt="...">
                        </div>
                        <div>
                            <div class="card-body ml-1 body-card">
                                <h5 class="card-title m-0 place-name">Qiz Qalasi</h5>
                                <div>
                                    <div>
                                        <img src="{% static 'images/image-2.svg' %}" alt="">
                                        <img src="{% static 'images/image-2.svg' %}" alt="">
                                        <img src="{% static 'images/image-2.svg' %}" alt="">
                                        <img src="{% static 'images/image-2.svg' %}" alt="">
                                        <img src="{% static 'images/image-3.svg' %}" alt="">
                                        <span class="place-feedback">Exceptional</span>
                                        <span class="place-feedback-number">(683)</span>
                                    </div>
                                </div>
                                <small class="place-city-name">Baku</small>
                                <p style="font-size:14px">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                    Voluptatibus natus, optio, voluptatem inventore quae omnis necessitatibus corporis
                                    quaerat fuga asperiores error obcaecati, eos facere alias sapiente similique minus
                                    odit labore? </p>
                                <div class="place-info">
                                    <a href="">More info</a>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>



            </div>
</section>



{% include 'includes/subscribers.html' %}

{% block js %}
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<script src="{% static 'js/where_to_go.js' %}"></script>
{% endblock %}

{% endblock content %}