{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/citysinglepage.css' %}">
{% endblock %}

{% block content %}

{% comment %} <section>
    <div class="container-fluid">
        <div class="row">
            <div class="search-parent col-12 d-flex flex-column justify-content-center align-items-center p-5">
                <h4 class="search-text">Find the good out there</h4>
                <div class=" active-cyan-3 active-cyan-4 mb-4 col-12 w-75 ">
                    <input class="form-control" type="text" placeholder="Search" aria-label="Search">
                </div>
            </div>
        </div>
    </div>
</section> {% endcomment %}
<section class="destinition-carousel mt-5 mb-5">
    <h4 class="text-center p-3 content-h4">
        <span class="span-under-content">
            <span class="content-name">
                Most Popular Destinitions
            </span>
        </span>
    </h4>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="for-relative">
                    {% for places in city.places.all %}
                    <img class="d-block w-100" src="{{city.image.url}}" alt="Third slide">
                    <div class="for-absolute">
                        <div class="description d-none d-md-block">
                            {{city.description}}
                        </div>
                        <a href=" class="see-button">
                            See Destinition
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
            
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>


<section>
    <div class="container-fluid">
        <h4 class="text-center p-3 content-h4">
            <span class="span-under-content">
                <span class="content-name">
                    Hotels
                </span>
            </span>
        </h4>
        <div class="container-fluid">
            <div class="row align-items-center justify-content-center p-4">
                
                {% for city in city.hotels.all %}    
                <div class="col-12 col-lg-4 mb-4 mb-lg-0">
                    <div class="main-image-div">
                        <img class="main-images w-100"
                            src="{{city.main_image.url}}"
                            alt="">
                        <a href="{% url 'hotels_app:hotels' city.slug  %}" class="city-name">{{city.name}}</a>
                    </div>
                </div>
                {% endfor %}
                
               

            </div>

        </div>
    </div>
</section>
<section>
    <div class="container-fluid">
        <h4 class="text-center p-3 content-h4">
            <span class="span-under-content">
                <span class="content-name">
                    Restaurants
                </span>
            </span>
        </h4>
        <div class="container-fluid">
            <div class="row align-items-center justify-content-center p-4">
            {% for city in city.city_name_restaurant.all %}    
                <div class="col-12 col-lg-4 mb-4 mb-lg-0">
                    <div class="main-image-div">
                        <img class="main-images w-100"
                            src="{{city.image.url}}"
                            alt="">
                        <a href="{% url 'restaurants_app:restaurant_single_page' city.slug  %}" class="city-name">{{city.name}}</a>
                    </div>
                </div>
                {% endfor %}
               

            </div>
        </div>
</section>
<section>
    <div class="container-fluid">
        <h4 class="text-center p-3 content-h4">
            <span class="span-under-content">
                <span class="content-name">
                    Tours
                </span>
            </span>
        </h4>
        <div class="container-fluid">
            <div class="row align-items-center justify-content-center p-4">
                {% for city in city.tours.all %}
               
                <div class="col-12 col-lg-4 mb-4 mb-lg-0">
                    <div class="main-image-div">
                        <img class="main-images"
                            src="{{city.main_image.url}}"
                            alt="">
                        <a href="{% url 'tours:tour-detail' city.slug  %}" class="city-name">{{city.name}}</a>
                    </div>
                </div>
                {% endfor %}
               

            </div>
        </div>
</section>
{% include 'includes/subscribers.html' %}
{% endblock  %}